<h3>Black Knight Reporting Tools</h3>

<html>
<link href="https://xml.sitexdata.com/restapi/Assets/css/chart.css"
rel="stylesheet"type="text/css" />
<script src="https://v2.sitexdata.com/Graph/js/lpstoolkit.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
 //<![CDATA[ //Required for calling the Period Code (Month,Bi-Monthly,Quaterly)
 this.GetLPSChart = function(type) {
 // 1= Monthly
 // 2= Bi-Monthly
 // 3= Quarterly

 SubmitSearch(type);
 }


 function SubmitSearch(type) {
 if (document.getElementById("txtAddress") != null) {
 var Address = document.getElementById('txtAddress').value;
 var AuthKey = "16D8B43C-897E-441F-B771-D7C5D18D8FD1_1";
 var RequestType = "1";
 //Set the requestType
 if (type != undefined) {
 RequestType = RequestType + "_" + type;
 }
 else {
 type = "1";
 }

 GetLPSWidget(Address, RequestType, AuthKey, type);
 }
 }
 function GetLPSWidget(Address, RequestType, AuthKey, type) {
 var _request = new LPS().Request(AuthKey, Address, RequestType, "Result");
 this.Result = function(result) {
 onDataReceived(result, type);
 _request.Dispose();
 }
 }
 function onDataReceived(result, type)
{
 if (result.Status == "ERROR") {
 document.getElementById(divHTML).innerHTML = result.Message;

 } else { 
 	document.getElementById('divHTML').innerHTML =
	result.DataCollections[0].Visualization;
 	//Required for display the Chart.
	var chart = new LPSChart();
 	chart.chartSetup();
 	chart.ChartSelected(type);
 }
 }
 //]]>
</script>
<body>
 <table>
 	<tr>
 		<td><h3>Property Value Search</h3>
 		</td>
 	</tr>
 	<tr> 
 	<td> <p>Please enter the address of a given property to see data about it's value on the market.</p>
 	</td>
 	</tr>
 	<tr>
 		<td>
 		<input type="text" style="width: 250px;" id="txtAddress" />
 		</td>
 		</tr>
 	
 		<td>
 		<br> <input type="button" class="btn btn-primary" onclick="SubmitSearch()" value="Submit" />
 		</td>
 	</tr>
 	<tr>
 		<td>
 		&nbsp;
 		</td>
 	</tr>
 	<tr>
 		<td colspan="2">
 			<div id="divHTML">
 			</div>
 		</td>
 	</tr>
 </table>
</body>
</html> 