<div>
<div class="jumbotron">
        <center><h1 class="display-3">Data for Syndicated Properties</h1></center>
        <p class="lead">Here you can view daily, up-to date information about a property's presence on Zillow and/or Trulia. Information like the number of views it has received, leads generated, impressions, etc is available at the links in the navigation area. <p> Please use the <b>'CTRL-F'</b> or <b>'CMD-F'</b> feature to search the page for the property you need data on. If a property isn't present here, it is not being syndicated to Zillow / Trulia. Generally, using the MLS ID is the best way to find a property.</p> <p>This data is updated once daily, when reporting is received from our data partners.</p><p> For questions or legacy data, please email the software administrator Christopher Bradford at cbradford@apr.com</p>
      </div>

</div>