<div 
<h1>APR Zillow & Trulia property information</h1>
<p> Here you can view daily, up-to date information about a properties 
presence on Zillow and/or Trulia. Information like the number of views it 
has received, leads generated, impressions, etc is available at the link in the 
navigation area. 
</p>
<p> For questions or legacy data, please email the software administrator Christopher Bradford at cbradford@apr.com</p>
